<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Order Details</title>
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/order-full-details.css" />
</head>
<body th:attr="data-order-id=${orderId}">
    <!-- Navbar -->
    <nav class="navbar">
        <ul class="navbar-list">
            <li class="navbar-item"><a href="/" class="navbar-link">Home</a></li>
            <li class="navbar-item"><a href="/about" class="navbar-link">About</a></li>
            <li class="navbar-item dropdown">
                <a href="/products" class="navbar-link">Products</a>
            </li>
            <li class="navbar-item dropdown">
                <a href="#" class="navbar-link">Profile</a>
                <ul class="dropdown-menu">
                    <li><a href="/user" class="dropdown-link">Details</a></li>
                    <li><a href="/user/orders" class="dropdown-link">Orders</a></li>
                    <li><a href="/user/addresses" class="dropdown-link">Addresses</a></li>
                </ul>
            </li>
            <li class="navbar-item dropdown">
                <a href="#" class="navbar-link">Management</a>
                <ul class="dropdown-menu">
                    <li><a href="/admin" class="dropdown-link">Dashboard</a></li>
                    <li><a href="/admin/manage-products" class="dropdown-link">Products</a></li>
                    <li><a href="/admin/orders" class="dropdown-link">Orders</a></li>
                    <li><a href="/admin/packages" class="dropdown-link">Packages</a></li>
                </ul>
            </li>
            <li class="navbar-item navbar-logout">
                <form action="/logout" method="post" style="display:inline;">
                    <button type="submit" class="navbar-link logout-btn">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
    <script>import('/js/navbar.js').then(m => m.Navbar.init());</script>
    <!-- Navbar End -->
	<div class="order-details-panel" id="order-details-panel">
		<!-- Populated by JS -->
	</div>
	<script type="module" src="/js/order-full-details.js"></script>
</body>
</html>
