spring:
  application:
    name: brickshop
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none   # overridden in dev
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    test-connection: true

server:
  servlet:
    session:
      timeout: 30m

product:
  images:
    upload:
      dir: ${PRODUCT_IMAGES_DIR}

logging:
  level:
    root: WARN
    org.springframework.security: DEBUG
    com.tomcvt.brickshop: INFO
    org.hibernate.SQL: DEBUG

  file:
    name: logs/app.log

  pattern:
    file: "%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n"
    console: "%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"
