<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin Panel - Add Product</title>
    <link rel="stylesheet" href="/css/adminpanel.css" />
</head>

<body>
    <button id="cart-toggle-btn">🛒</button>
    <div id="cart-panel">
        <div id="cart-header">Your Cart</div>
        <div id="cart-items"></div>
        <div id="cart-message"></div>
        <div id="cart-total"></div>
        <button id="checkout-btn" class="btn btn-primary">Proceed to Checkout</button>
    </div>
    <h1>Admin Panel</h1>
    <div class="container">
        <div class="panelOption">
            <h2>Add New Product</h2>

            <form id="productForm">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>

                <label for="description">Description</label>
                <textarea id="description" name="description" required></textarea>

                <label for="price">Price (e.g., 19.99)</label>
                <input type="number" step="0.01" id="price" name="price" required>

                <label for="stock">Stock</label>
                <input type="number" id="stock" name="stock" required>

                <button class="accept-button" type="submit">Add Product</button>
            </form>

            <div class="message" id="message"></div>
        </div>
        <div class="panelOption products">
            <h2>Existing Products</h2>
            <div id="productList"></div>
            <div class="message" id="messageProducts"></div>
        </div>
        <div class="panelOption search">
            <h2>Search Products</h2>
            <div class="searchimage-bar">
                <input type="text" id="searchimageKeyword" placeholder="Enter keyword" />
                <button id="searchimageButton" class="accept-button search-button">Search</button>
            </div>
            <div id="searchimageResults"></div>
        </div>


        <script type="module" src="/js/adminpanel.js"></script>
    </div>
</body>

</html>